[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "*"
rich = "*"
click = "*"
loguru = "*"
readchar = "*"
spacy = "*"
pyyaml = "*"
feedparser = "*"
sklearn = "*"
numpy = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
